body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f3e9;
  margin-top: 50px;
}

h1 {
  color: #ff6f61;
}

#hamster {
  width: 150px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #ffdd33;
}
